* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
 }
 
 .title-section {
    height: 100vh;
    position: relative;
 }
 
 /******* TITLE ********/
 .title span {
    font-family: "Emilys Candy", cursive;
    font-size: 12em;
    top: 100px;
 }
 /**
 *https://impresa.prensa.com/vivir/mordisco-sabor_LPRIMA20160203_0083_31.jpg
 *https://cbsla.files.wordpress.com/2014/11/shutterstock_227116405.jpg?w=1000
 *http://s1.1zoom.me/big0/618/Fast_food_Pizza_486171.jpg
 *just strawberies
 */
 .title {
    background: url(https://cbsla.files.wordpress.com/2014/11/shutterstock_227116405.jpg?w=1000),linear-gradient(-45deg, rgba(142,242,172,.7)
                          30%, rgba(25,0,0,1)100%);
    font-weight: bolder;
    -webkit-background-clip: text, border;
    color: transparent;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    padding: 200px 20px;
 }
 
 p {
    margin-top: -50px;
    font-size: 1.8em;
 }
 
 /********* SECOND *******/
 .second {
    height: 100wh;
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
       "addItem todo done";
    font-family: 'Source Code Pro', monospace;
 }
 
 ul {
    list-style-type: none;
 }
 
 .add-item-panel {
    grid-area: addItem;
 }
 
 .shopping-list {
    grid-area: todo;
 }
 
 .done-list {
    grid-area: done;
 }
 
 h1 {
    color: #3d4535;
    text-align: center;
    font-size: 2.5em;
    font-family: "Emilys Candy", cursive;
 }
 
 