* {
    margin: 0;
    padding: 0;
    font-size: 18px;
 }
 
 button {
    font-family: "Emilys Candy", cursive;
    cursor: pointer;
 }
 
 .title-container {
    position: relative;
    height: 100vh;
    width: 100wv;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:linear-gradient(-45deg, rgba(0,0,0,1),rgba(7,11,122,1));
    grid-template-areas: 
       "title cake"
       "lists lists";
 }
 
 .title {
    /*background-image: linear-gradient(-45deg, rgba(142,242,172,.7) 30%, rgba(25,0,0,1)100%);
    font-weight: bolder;
    -webkit-background-clip: text, border;*/
    color: pink;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 70px 0 0;
    font-family: "Emilys Candy", cursive;
    grid-area: title;
 }
 
 .title h1 {
    font-size: 5em;
    text-align: right;
 }
 
 .main-pic {
    position: relative;
    grid-area: cake;
 }
 
 .main-pic img {
    width: 150px;
    position: absolute;
    top: 11%;
    left: 25%;
    /** SHADOW TO CUPCAKE */
    /**-webkit-filter: drop-shadow( -5px -5px 5px #000 ); 
             filter: drop-shadow( -5px -5px 5px #000 );
    */
 }
 
 .cake {
    -webkit-animation: play 2s steps(10) infinite;
    -moz-animation: play 2s steps(10) infinite;
    -ms-animation: play 2s steps(10) infinite;
    -o-animation: play 2s steps(10) infinite;
    animation: play 2s steps(10) infinite;
 }
 
 @keyframes play {
    0% {
       transform: translatey(0px);
    }
    50% {
       transform: translatey(-20px);
    }
    100% {
       transform: translatey(0px);
    }
 }
 
 /********* 
 SECOND 
 *******/
 .second {
    position: relative;
    grid-area: lists;
    display: grid;
    color: #2c2119;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
       "addItem todo done";
    font-family: 'Source Code Pro', monospace;
 }
 
 ul {
    list-style-type: none;
 }
 
 .add-item-panel {
    grid-area: addItem;
 }
 
 .shopping-list {
    grid-area: todo;
 }
 
 .done-list {
    grid-area: done;
 }
 
 .second h1 {
    color: #3d4535;
    text-align: center;
    font-size: 2.5em;
    font-family: "Emilys Candy", cursive;
 }
 
 /**** Ad item ****/
 #add-item-form {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
       "item qInput"
       "button button";
 }
 
 .item-name {
    grid-area: item;
 }
 
 .item-quant {
    grid-area: qInput;
    padding-left: 10px;
 }
 
 .add-btn {
    grid-area: button;
    justify-self: end;
 }
 
 #item {
    width: 100%;
 }
 
 #quantity {
    width: 100%;
 }
 
 input::placeholder {
    color: #07037c;
 }
 
 input {
    border: none;
    border-bottom: 1px solid #07037c;
    margin-bottom: 20px;
 }
 
 .btn-add {
    color: #fff;
    background-color: #07037c;
    padding: 10px 15px;
    border-radius: 5px;
 }